<!-- <div id="carlos">
<img src="..\..\..\assets\nuevo.PNG" width="200px">
</div>
<div id="text">
<h5> A la izquierda vemos el menú en el que podremos introducir nuevas empresas de reciclaje a la base de datos. Una vez hagamos click en el botón "save" la nueva empresa con sus respectivos datos se añadirán a la tabla de la derecha </h5>
</div> -->

<br><br>
<img src="..\..\..\assets\edit.PNG" width="80px"><br><br>
<h5>Si clickamos sobre el botón del lápiz, podremos editar los datos de la empresa seleccionada, 
    una vez estos hayan sido editados volveremos a pulsar en "save" para guardar los cambios </h5>
<hr>
<img src="..\..\..\assets\map.PNG" width="80px"><br><br>
<h5>Si clickamos sobre el botón del mapa, este nos llevará a un mapa en el que se nos reflejará 
    dónde está ubicada nuestra empresa </h5>
<hr>
<img src="..\..\..\assets\delete.PNG" width="80px"><br><br>
<h5>Si clickamos en el botón de la papelera, la empresa seleccionada se eliminará permanentemente, 
    se nos mostrará un mensaje para verificar que realmente queramos borrar la empresa </h5>
<hr>

