<br><br>
<h5>

    Página web diseñada para el registro de empresas dedicadas al reciclaje entre los países de Grecia, Bulgaria y España <br><br> 
    Así esta web recoge la tecnología para la localización de las diferentes empresas, así como las prácticas que realizan
    en cada una de ellas y su debida localización representada en el mapa. <br><br>
    También, si accedemos a la página como administrador podremos tanto adjuntar nuevos datos como editarlos o eliminarlos.

</h5>

<br><br><br>
<img src="..\..\..\assets\pie.png" width="800px">